*{
    box-sizing: border-box;
    
}

.containerHeader{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    
    border-radius: 50%;
    height: 150px;
    width: 150px;
    
}

h2{
    color:#B1D4E0;
    margin-bottom: 10px;


}

h4{
    margin-top:0px;
    color:#B1D4E0;

}