/* Coolors Exported Palette - coolors.co/00a878-d8f1a0-f3c178-fe5e41-0b0500 */

/* HSL */
$color1: hsla(163%, 100%, 33%, 1);
$color2: hsla(79%, 74%, 79%, 1);
$color3: hsla(36%, 84%, 71%, 1);
$color4: hsla(9%, 99%, 63%, 1);
$color5: hsla(27%, 100%, 2%, 1);

/* RGB */
$color1: rgba(0, 168, 120, 1);
$color2: rgba(216, 241, 160, 1);
$color3: rgba(243, 193, 120, 1);
$color4: rgba(254, 94, 65, 1);
$color5: rgba(11, 5, 0, 1);