.containerApp{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: align-items;
}

.descripcion{
  text-align: center;
  
}

.skills{
  margin-top: 50px;
}
