.containerApp{
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: align-items;
}

.descripcion{
  text-align: center;
  color:#B1D4E0;
  
}

.skills{
  margin-top: 50px;
}

.primary{
  color: #00A878;

}

.secondary{
  color: #D8F1A0;
}

.terciary{
  background-color: #145DA0;
}
